# Deployment Settings
FLASK_ENV=production
FLASK_PORT=5002

# Email Alert Settings
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=Aniket
MAIL_PASSWORD=aniketmanhas801@gmail
MAIL_DEFAULT_SENDER=adminSahyatri
ADMIN_ALERT_EMAIL=2022a1r148@mietjammu.in
ENABLE_EMAIL_ALERTS=True

# Video Analytics
YOLO_CONF=0.20
P2PNET_THRESHOLD=0.35
DENSE_THRESHOLD=6
ZONE_AREA_M2=50.0
